nav {
  margin-inline: auto;
  height: 70px;
}
.navbar__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  &-logo {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3rem;
    font-size: clamp(0.5rem, 2vw, 1.3rem);
  }

  &-menu {
    ul {
      display: flex;
      gap: 1.5rem;
      font-weight: 600;
      font-size: 1rem;
      font-size: clamp(0.5rem, 1.5vw, 1rem);
    }
    // @media screen and (max-width: 768px) {
    //   background-color: red;
    // }
  }

  &-icons {
    ul {
      display: flex;
      gap: 0.8rem;
      li {
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          background-color: rgba(235, 94, 40, 1);
          &:hover {
            background-color: rgba(235, 94, 40, 0.7);
          }
        }
        svg {
          fill: transparent;
          color: white;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &-menuicon {
    display: none;
  }

  @media screen and (max-width: 768px) {
    &-menu,
    &-icons {
      display: none;
    }

    &-menuicon {
      display: block;
      width: 35px;
      height: 35px;
      &:hover {
        cursor: pointer;
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
