nav {
  // display: grid;
  // place-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-inline: auto;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    background-color: red;
  }

  &-menu,
  &-icons {
    ul {
      display: flex;
    }
  }

  &-icons {
    background-color: red;
  }
}
