#blog {
  min-width: 400px;
  padding: 4rem 0;
}

.blog__container {
  width: 90%;
  max-width: 1300px;
  margin-inline: auto;
  background-color: rgba(1, 1, 1, 0.2);
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &-title {
    h1 {
      font-family: "Raleway";
      font-weight: 900;
      font-size: clamp(1rem, 6vw, 5rem);
      line-height: 1.2;
    }
  }

  &-article {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, auto));
    grid-template-rows: masonry;
    gap: 1rem;

    .article-card {
      background-color: rgba(1, 111, 1, 0.3);

      .article-card-details {
        h2 {
          font-family: "Raleway";
          font-weight: 900;
          font-size: clamp(1rem, 6vw, 2.5rem);
          line-height: 1.2;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
