#categories {
  padding: 4rem 0;
  min-height: 400px;
}

.categories__section {
  width: 95%;
  margin-inline: auto;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-title {
    h1 {
      font-family: "Raleway";
      font-weight: 900;
      font-size: clamp(1rem, 6vw, 5rem);
      line-height: 1.2;
    }
  }

  &-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    place-content: center;
    gap: 1rem;

    .gallery-card {
      aspect-ratio: 1 / 1;
      overflow: hidden;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 700px;
      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        filter: brightness(80%) contrast(80%);

        &:hover {
          filter: initial;
        }
      }
      .card-button {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 1.5rem;
          font-size: clamp(0.8rem, 3vw, 1.5rem);
          background-color: #fff;
          font-weight: 600;
          padding: 1rem 2rem;
          padding: 1vw 2vw;
          border: 3px solid #000;
          border-radius: 4rem;
          &:hover {
            background-color: rgba(235, 94, 40, 1);
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    &-gallery {
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      .gallery-card {
        .card-button {
          span {
            border: 2px solid #000;
          }
        }
      }
    }
  }

  @media screen and (max-width: 350px) {
    &-gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
  }
}
