#hero {
  min-height: 100vh;
  height: 100vh;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      18% 28% at 24% 50%,
      #fffdefff 1%,
      #073aff00 100%
    ),
    radial-gradient(18% 28% at 18% 71%, #ffffff59 6%, #073aff00 100%),
    radial-gradient(70% 53% at 36% 76%, #f3f0e7ff 0%, #073aff00 100%),
    radial-gradient(42% 53% at 15% 94%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(42% 53% at 34% 72%, #f7f7f7ff 7%, #073aff00 100%),
    radial-gradient(18% 28% at 35% 87%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(31% 43% at 7% 98%, #ffffffff 24%, #073aff00 100%),
    radial-gradient(21% 37% at 72% 23%, #f3f1f0ff 24%, #073aff00 100%),
    radial-gradient(35% 56% at 91% 74%, #d3d3d1ff 9%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #f3f0e7ff 24%, #073aff00 100%),
    linear-gradient(125deg, #cacacaff 1%, #adadadff 100%);
}

.hero__container {
  width: 100%;
  padding: 4rem 0;
  height: calc(100% - 45px - 90px);
  max-width: 1300px;
  margin-inline: auto;
  position: relative;
  &-title {
    h1 {
      font-family: "Chivo Mono";
      font-weight: 900;
      font-size: clamp(1rem, 8.18vw, 6.75rem);
      line-height: 1;
      margin-bottom: 2rem;
    }
  }
  &-desc {
    max-width: 500px;
    p {
      font-size: clamp(12px, 2vw, 18px);
      font-family: "Montserrat";
    }
  }
  &-img {
    position: absolute;
    bottom: 0%;
    right: 5%;
  }
}

.hero__banner {
  color: #fff;
  background-color: rgba(1, 1, 1, 0.9);
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  &-list {
    font-family: "Chivo Mono";
    font-size: 1.8rem;
    width: 100%;
    // max-width: 1300px;
    // width: 1300px;
    // margin-inline: auto;
    // overflow: hidden;
    // overflow-x: hidden;
    display: flex;
    ul {
      display: flex;
      gap: 2rem;
      background-color: rgba(100, 1, 1, 1);
      animation: banner 15s linear infinite;
      li {
        width: max-content;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }

    @keyframes banner {
      0% {
        transform: translate3d(0, 0%, 0);
      }
      100% {
        transform: translate3d(-100%, 0%, 0);
      }
    }
  }
}
