:root {
  --main-bg-color: #edf2f4;
  --text-dark-color: #282828;
  --text-light-color: #fff;
  --text-variant-color: #ec5050;
  --border-color: #fff;
  --footer-bg-color: #ec5050;
  --icons-fill-color: #fff;
}
